.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    z-index: 99;
    box-shadow: 0 0 10px #d0d0d0;
}
.text {
    font-size: 16px;
}
.loader__circle {
    width: 30px;
    height: 30px;
    background: conic-gradient(
      #3498db 0deg 180deg,
      transparent 180deg 360deg
    );
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    animation: spin 1.5s linear infinite;
}
.loader__circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}